NET "enc1a" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "enc1b" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "enc2a" LOC = P50 | IOSTANDARD = LVTTL | PULLUP;
NET "enc2b" LOC = P40 | IOSTANDARD = LVTTL | PULLUP;
NET "speed" LOC = P58 | IOSTANDARD = LVTTL;
NET "direction" LOC = P57 | IOSTANDARD = LVTTL;
NET "direction2" LOC = P66 | IOSTANDARD = LVTTL;